<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37513327793-203h6e9a2trsa3jp3gl4eod7io2dv37n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37513327793-203h6e9a2trsa3jp3gl4eod7io2dv37n</string>
	<key>API_KEY</key>
	<string>AIzaSyBDZ_eWs6XtOLEG8OoRR2FqVFvwqDKQO7g</string>
	<key>GCM_SENDER_ID</key>
	<string>37513327793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-23932</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-23932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37513327793:ios:ec8ed60a46834dc8859e90</string>
</dict>
</plist>